@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --gradient-1: #36cde1;
  --gradient-2: #994bff;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #36cde1;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #994bff;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --gradient-1: #22d4fc;
  --gradient-2: #994bff;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #36cde1;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: #994bff;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --gradient-1: #36cde1;
  --gradient-2: #994bff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}
 
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}
@utility container {
  margin-inline: auto;       /* centers the container */
  padding-inline: .8rem;     /* adds horizontal padding */

  /* Optional: add responsive padding variations */
  @variant sm { padding-inline: 1rem; }
  @variant lg { padding-inline: 2rem; }
  /* add more breakpoints if needed */
}

@layer utilities {
  @keyframes grain {
    0%, 100%   { transform: translate(0, 0); }
    10%        { transform: translate(-5%, -10%); }
    20%        { transform: translate(-15%, 5%); }
    30%        { transform: translate(7%, -25%); }
    40%        { transform: translate(-5%, 25%); }
    50%        { transform: translate(-15%, 10%); }
    60%        { transform: translate(15%, 0); }
    70%        { transform: translate(0, 15%); }
    80%        { transform: translate(3%, 35%); }
    90%        { transform: translate(-10%, 10%); }
  }
  @keyframes accordion-down { from { height: 0 } to { height: var(--radix-accordion-content-height) } }
  @keyframes accordion-up   { from { height: var(--radix-accordion-content-height) } to { height: 0 } }
  @keyframes fade-up        { 0% { opacity: 0; transform: translateY(10px); } 80% { opacity: 0.7; } 100% { opacity: 1; transform: translateY(0); } }
  @keyframes fade-down      { 0% { opacity: 0; transform: translateY(-10px); } 80% { opacity: 0.6; } 100% { opacity: 1; transform: translateY(0); } }
  @keyframes fade-in        { 0% { opacity: 0 } 50% { opacity: 0.6 } 100% { opacity: 1 } }
  @keyframes fade-out       { 0% { opacity: 0 } 50% { opacity: 0.6 } 100% { opacity: 1 } }
  @keyframes marquee        { from { transform: translateX(0) } to { transform: translateX(calc(-100% - var(--gap))) } }
  @keyframes marquee-vertical { from { transform: translateY(0) } to { transform: translateY(calc(-100% - var(--gap))) } }

  /* 2. Create utilities that use those keyframes */
  .animate-grain              { animation: grain 16s steps(10) infinite; }
  .animate-accordion-down    { animation: accordion-down 0.2s ease-out; }
  .animate-accordion-up      { animation: accordion-up 0.2s ease-out; }
  .animate-fade-up           { animation: fade-up 0.5s forwards; }
  .animate-fade-down         { animation: fade-down 0.5s forwards; }
  .animate-fade-in           { animation: fade-in 0.5s forwards; }
  .animate-fade-out          { animation: fade-out 0.5s forwards; }
  .animate-marquee          { animation: marquee var(--duration) infinite linear; }
  .animate-marquee-vertical { animation: marquee-vertical var(--duration) linear infinite; }
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

.text-gradient {
  background: linear-gradient(
    45deg,
    var(--gradient-1) 0%,
    var(--gradient-2) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

 .text-gradient-blur {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#AB8C95] via-[#353535da] to-[#8E97C5];
  }

.background-gradient {
  background: linear-gradient(
    45deg,
    var(--gradient-1) 0%,
    var(--gradient-2) 100%
  );
}

.background-gradient-reverse {
  background: linear-gradient(
    45deg,
    var(--gradient-2) 0%,
    var(--gradient-1) 100%
  );
}

.gradient-glow {
  box-shadow: 0 0 2000px 50px hsl(var(--primary));
  filter: brightness(1.5);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;
}


code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {

  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

[data-rehype-pretty-code-figure] {
  @apply relative mt-6 mb-4;
}

[data-rehype-pretty-code-figure] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-line] {
  @apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
}

[data-line-numbers]>[data-line]::before {
  @apply text-muted-foreground text-xs;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1.5rem;
  text-align: right;
}

[data-highlighted-line] {
  @apply bg-zinc-600/50;
}

[data-highlighted-chars] span {
  @apply relative;
}

[data-highlighted-chars] {
  @apply rounded-sm bg-zinc-600/50 text-foreground p-1;
}

[data-rehype-pretty-code-title] {
  @apply mt-3 py-2 px-4 text-sm font-medium;
}

.mdx>.steps:first-child>h3:first-child {
  @apply mt-0;
}

.steps>h3 {
  @apply mt-8 mb-4 text-base font-semibold;
}


/* =+ Utility Classes += */
